body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background: #fff;
}
.header-section {
  background-image: url(../assets/backgrounds/h_img.jpg);
}
.header-section,
.services-section,
.contact-us {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.header-section img {
  padding-top: 8em;
}
.header-section p {
  font-size: 0.75em;
}
.site-logo {
  padding-bottom: 1em;
}
.about-us,
.header-section,
.services-section,
.what-we-do,
.portfolio,
.contact-us {
  display: block;
  text-align: center;
  padding: 1em 0;
}
.services-section {
  background-image: url(../assets/backgrounds/s_image.jpg);
}
.product,
.development,
.design {
  padding: 1em;
}
#product-description,
#development-description,
#design-description {
  display: none;
}
.portfolio img {
  width: 100%;
  padding-bottom: 1em;
}
.portfolio .row {
  padding: 1em;
}
.contact-us{
    background-image: url(../assets/backgrounds/c_image.jpg);
    padding: 3em;
}
.contact-form-wrapper {
    display: inherit;
    margin: 1em;
}
.contact-form-wrapper form input,
.contact-form-wrapper form textarea{
    background: transparent;
    border: 1px solid #fff;
}
.contact-form-wrapper form input::placeholder,
.contact-form-wrapper form textarea::placeholder{
    color: #fff;
}
@media screen and (min-width: 768px) {
  .portfolio img {
    padding-bottom: 0;
  }
}
