body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #fff;
}
h3 {
  font-weight: 900;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.header-section {
  background-image: url(../assets/backgrounds/h_img.jpg);
}
.header-section,
.services-section,
.contact-us {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.header-section img {
  padding-top: 8em;
}
.header-section p {
  font-size: 0.75em;
}
.site-logo {
  padding-bottom: 1em;
}
.about-us,
.header-section,
.services-section,
.what-we-do,
.portfolio,
.contact-us,
.social-media {
  display: block;
  text-align: center;
  padding: 1em 0;
  margin: 0;
}
.services-section {
  background-image: url(../assets/backgrounds/s_image.jpg);
}
.product,
.development,
.design {
  padding: 1em;
}
#product-description,
#development-description,
#design-description {
  display: none;
}
.what-we-do-content img {
  padding-bottom: 0.5em;
}
.what-we-do-wrapper h4,
h6 {
  font-style: bold;
  font-weight: 900;
  font-size: 1em;
}

.about-us-wrapper,
.portfolio-wrapper,
.what-we-do-wrapper,
.services-section-wrapper {
  padding: 1em;
}
.portfolio img {
  width: 100%;
  height: auto;
}
.contact-us {
  background-image: url(../assets/backgrounds/c_image.jpg);
  padding: 3em;
}
.contact-form-wrapper {
  display: inherit;
  margin: 1em;
}
.contact-form-wrapper form input,
.contact-form-wrapper form textarea {
  background: none;
  border: 1px solid #fff;
}
.contact-form-wrapper form input::placeholder,
.contact-form-wrapper form textarea::placeholder {
  color: #fff;
}
.social-media p {
  line-height: 0.25;
}
.social-media-icons {
  padding: 2em;
}
.social-media-icons span {
  padding: 0.125em;
}
.btn-submit {
  float: right;
  background-color: #fff;
  color: #000;
  width: 20%;
}
.validate {
  border-color: red !important;
}
.contact-form-wrapper form input.validate,
.contact-form-wrapper form textarea.validate {
  background-color: rgb(232, 240, 254) !important;
}
.contact-form-wrapper form input.validate::placeholder,
.contact-form-wrapper form textarea.validate::placeholder {
  color: #000;
}
.hide-alert {
  display: none;
}
.portfolio a {
  display: block;
  position: relative;
  margin: 0.3em;
}
.project-tile {
  padding: 0;
  margin: 0;
}
.project-image-overlay {
  display: block;
  transition: 0.5s ease;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.project-image-overlay .text {
  color: #fff;
  padding-top: 30%;
}
@media screen and (min-width: 768px) {
  .portfolio img {
    padding-bottom: 0;
  }
  .contact-form-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
  .about-us-wrapper,
  .portfolio-wrapper,
  .what-we-do-wrapper,
  .services-section-wrapper {
    max-width: 980px;
    margin: 0 auto;
  }
}
